extends common/layout

block content
    main.main
        div.base
            a.link(href="#") ссылка
            a.link.link_b-e-fltr(href="#") низЛево
            a.link.link_b-e-fc(href="#") низЦентр
            a.link.link_b-e-frtl(href="#") низПраво

            a.link.link_t-e-fltr(href="#") вверхЛево
            a.link.link_t-e-fc(href="#") вверхЦентр
            a.link.link_t-e-frtl(href="#") вверхПраво

            a.link.link_l-e-fbtt(href="#") левоНиз
            a.link.link_l-e-fc(href="#") левоЦентр
            a.link.link_l-e-fttb(href="#") левоВерх

            a.link.link_r-e-fbtt(href="#") правоНиз
            a.link.link_r-e-fc(href="#") правоЦентр
            a.link.link_r-e-fttb(href="#") правоВерх
            br
            br
        div.base
            a.link.link_l-e-crossroads(href="#") левыйПерекрёсток
            a.link.link_r-e-crossroads(href="#") правыйПерекрёсток
            a.link.link_dhc-e(href="#") дваГЦентра
            a.link.link_dl-e(href="#") дваЛева
            a.link.link_dr-e(href="#") дваПрава

            a.link.link_db-e(href="#") дваНиза
            a.link.link_dvc-e(href="#") дваВЦентра
                div
                div
            a.link.link_dt-e(href="#") дваВерха

            a.link.link_lt-e-crossroads(href="#") низЛевоПерекрёсток
            a.link.link_br-e-crossroads(href="#") низПравоПерекрёсток
            br
            br
        div.base
            a.link.link_clockwise-e(href="#") смесь1
                div
                div
            a.link.link_counter-clockwise-e(href="#") смесь2
                div
                div
            a.link.link_fc-e(href="#") смесь3
                div
                div
                div
                div
            a.link.link_as-e(href="#") смесь3
                div
                div
                div
                div
                div
                div
            a.link.link_io-clockwise-e(href="#") смесь4
                div
                div
            a.link.link_io-counter-clockwise-e(href="#") смесь5
                div
                div
            a.link.link_bouncing-text(href="#")
                span смесь6
                div
                div
                div


